body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #15c75f;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6ebbc5;
    color: white;
    padding: 20px 20px;
    width: 1300px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 10;
    margin: 0;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #1883da;
  }
  
  main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  main img {
    width: 1325px;
    height: 400px;
    
   
  }
  
  footer {
    background-color: #3baa60;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  