body {
    font-family: Arial, sans-serif;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
}

#container1 {
    height: 300px;
    width: 300px;
    background-color: #3ccf92;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black;
    
}

#login {
    text-align: center;
    margin-bottom: 20px;
    
    color: #0056b3;
}

.form-group1 {
    margin-bottom: 30px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 50px;
}

#buttonlogin {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #25d843;
}

.sign {
    text-align: center;
    margin-top: 15px;
}

.sign a {
    color: #007bff;
    text-decoration: none;
}

.sign a:hover {
    text-decoration: underline;
}
